CosturaWEB/Costura/build/
CosturaWEB/Costura/dist/
CosturaWEB/Costura/nbproject/
CosturaWEB/Costura/test/
Projeto Costura/Costura/build/
Projeto Costura/Costura/nbproject/
*.class

CosturaWEB/Costura/nbproject/private/private.xml
CosturaWEB/Costura/nbproject/ant-deploy.xml
CosturaWEB/Costura/nbproject/private/private.properties
CosturaWEB/Costura/src/java/apoio/db.properties
CosturaWEB/Costura/nbproject/private/private.xml
CosturaWEB/Costura/src/java/apoio/db.properties
CosturaWEB/Costura/src/java/apoio/db.properties
CosturaWEB/Costura/nbproject/private/private.properties
CosturaWEB/Costura/nbproject/private/private.xml
CosturaWEB/Costura/nbproject/private/private.xml
CosturaWEB/Costura/src/java/apoio/db.properties
CosturaWEB/Costura/nbproject/private/private.properties
