CosturaWEB/Costura/build/
CosturaWEB/Costura/dist/
CosturaWEB/Costura/nbproject/
CosturaWEB/Costura/test/
Projeto Costura/Costura/build/
Projeto Costura/Costura/nbproject/
*.class

CosturaWEB/Costura/nbproject/private/private.xml
